/* Tipografía del proyecto */
@font-face {
    font-family: "Tan Pearl";
    src: url('../fonts/tan-pearl-font/tan-pearl.otf') format('opentype');
}

@font-face {
    font-family: "Questrial";
    src: url('../fonts/questrial-2/Questrial-Regular.ttf') format('truetype');
}

.hamburger-menu {
    display: none;
}


/* Estilos generales */
body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p, label{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal
}

label{
    color: #597445;
    font-weight: 600;
}

h1{
    font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

a{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal

}

body h1{
    font-size: small; 
    color:#39492d;
}

body h2{
    font-family: 'Lovelo', sans-serif;
    font-size: large; 
}

nav{
    background-color: #597445;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Barra de navegación */
.navbar {
    background-color: #597445;
    padding: 15px;
    color: white;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100%;
}


nav div{
    width: 68vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #597445;
    padding: 10px 20px;
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    height: 100%;
}

nav ul li{
    width: 100%;
    height: 100%;
}

ul li.logo{
    background-color: white;
}

nav ul li.logo a img{
    height: 80px;
    width: 100%;
    display: block;
}

nav ul li.nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 100%;
}

nav ul li.nav-item{
    height: 80px;
}

.active{
    background-color: #1f4d1a;
}

nav ul li.nav-item:hover{
    background-color: #1f4d1a;
}


.navbar a.active {
    background-color: #39492d;
    padding: 5px 15px;
    border-radius: 3px;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sección principal */
.main-section {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: -70px; /* Permite que la forma ovalada sobresalga */
}

/* Título ajustado */
.main-text {
    max-width: 600px;
    position: relative;
    z-index: 2;
    margin-right: 200px; /* Espacio entre el texto y la imagen */
}

/* Estilo del título */
.main-text h1 {
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
    padding: 10px; /* Un poco de espacio alrededor del texto */
    width: fit-content; /* Hace que el fondo blanco se ajuste al tamaño del texto */
}

/* Descripción del texto */
.main-text p {
    font-size: 1em;
    line-height: 1.6;
}



/* Fondo ovalado detrás de la imagen */
.main-image-container {
    position: absolute;
    top: -75px; /* Ajusta para que sobresalga la navbar */
    right: 5%; /* Posiciona la forma ovalada a la derecha */
    width: 300px;
    height: 450px;
    background-color: #39492d;
    border-radius: 100px;
    display: flex;
    flex-direction: column; /* Alinea el contenido en columna (título arriba y imagen abajo) */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    z-index: 5; /* Asegura que esté frente a la navbar */
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; /* Transición suave para cambios responsivos */
}

/* Estilo de la imagen */
.main-image-container img {
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px; /* Ajusta la distancia entre el texto y la imagen */
    z-index: 6;
}

/* Media query para pantallas pequeñas */
@media (max-width: 1150px) {
    .main-section {
        flex-direction: column; /* Acomoda el contenido en columna en pantallas pequeñas */
        padding: 30px;
        background-image: url('../images/plantaIndex.png'); /* Aplica la imagen de fondo */
        background-size: cover; /* Hace que la imagen cubra todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        position: relative; /* Asegura que los elementos se apilen correctamente */
        margin-top: 70px; /* Asegura que la imagen de fondo se muestre por debajo del navbar (ajustar según el tamaño del navbar) */
    }

    /* Aplica la mayor transparencia a la imagen de fondo */
    .main-section::after {
        content: ''; /* Añade un pseudo-elemento para cubrir el fondo */
        position: absolute; /* Lo coloca en la parte superior */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.865); /* Ajusta el color y la opacidad a 0.2 para más transparencia */
        z-index: 1; /* Asegura que el pseudo-elemento esté debajo del contenido */
    }

    .main-text {
        margin-right: 0; /* Elimina el espacio entre el texto y la imagen */
        text-align: center; /* Centra el texto en pantallas pequeñas */
        z-index: 2; /* Asegura que el texto quede sobre la capa de fondo */
    }

    .main-image-container {
        visibility: hidden; /* Oculta la forma ovalada en pantallas pequeñas */
    }
}

.new-header {
    display: flex;
    justify-content: space-around;
    background-color:#39492d;
    color:#f4f4f4;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width : 768px){
    .new-header{
        flex-direction: column;
        align-items: center;
    }
}

/* Sección de noticias */
.news-section {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background-color: #f4f4f4;
}

.news-card {
    width: 23%;
    background-color: white; 
    color: black;
    padding: 15px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px; /* Espacio alrededor de cada tarjeta */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.news-card p {
    font-size: 0.9em;
}

/* Media query para pantallas más pequeñas (móviles y tablets) */
@media (max-width: 1024px) {
    .news-card {
        width: 48%; /* Ocupa el 48% del ancho en tablets */
    }
}

@media (max-width: 768px) {
    .news-card {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas (móviles) */
    }

    .news-section {
        padding: 20px; /* Reduce el padding en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .news-card p {
        font-size: 0.8em; /* Reduce el tamaño de fuente en pantallas muy pequeñas */
    }
}

/* Estilo para la sección de Ubicación y Contacto */
.contact-location-section {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-location-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #001e44;
}

.contact-info {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.location-map iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: none;
}

/* Footer */
.footer {
    background-color: #597445;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center; /* Centra el contenido del footer horizontalmente */
}

.footer-content {
    display: flex;
    align-items: center; /* Alinea el logo y el texto verticalmente */
    justify-content: center; /* Centra el logo y el texto en el footer */
    max-width: 800px;
    width: 100%;
    gap: 20px; /* Espacio entre el logo y el texto */
    text-align: left;
}

.footer-logo img {
    width: 150px;
    height: 100px;
    border-radius: 50%; /* Forma circular */
}

.footer-text {
    text-align: left;
    line-height: 1.8;
}

.footer-text p {
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    color: white; /* Color blanco para los iconos */
    margin-right: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {

    nav ul li.logo a img{
        display: none;
    }

    nav ul li a {
        background-color: #597445;
    }

    
    .footer-content {
        flex-direction: column; /* Apila logo y texto en pantallas pequeñas */
        align-items: center; /* Centra el contenido en columna */
        text-align: center;
    }

    .footer-logo img {
        width: 80px; /* Tamaño reducido del logo para pantallas pequeñas */
        height: 80px;
        margin-bottom: 10px;
    }

    .footer-text {
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }

    .social-links {
        margin-top: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajusta según el tamaño de tu barra de navegación */
        right: 0;
        background-color: #ffffff; /* Cambia el color si es necesario */
        width: 100%;
        z-index: 100;
    }
    
    .hamburger-menu {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .show {
        display: flex;
    }
}


/* Catalogo Plantas*/

/* Estilo para la sección del catálogo */
.catalogo-container {
    display: flex;
    padding: 20px;
}

/* Panel de filtros en el costado izquierdo */
.filter-panel {
    width: 300px;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 5px;
}

.filter-panel:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Sombra más profunda al pasar el ratón */
}

.filter-panel h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color:#39492d ;
}

.filter-option {
    margin-bottom: 25px;
}

/* Efecto de focus en inputs y selects */
.filter-option input:focus,
.filter-option select:focus {
    border-color: #4C6A4F;  /* Bordes verdes al hacer focus */
    background-color: #e9f4e7;  /* Fondo más claro al hacer focus */
    outline: none;  /* Elimina el outline predeterminado */
}

/* Estilo de las etiquetas de filtros */
.filter-option label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #39492d;  /* Color gris oscuro */
    font-weight: 500;
}

/* Botón de filtro */
.filter-button {
    display: block;
    font-family: 'Lovelo', sans-serif;
    width: 50%;
    padding: 8px;
    font-size: 1rem;
    background-color: #39492d;;  /* Fondo verde */
    color: white;
    border: none;
    border-radius: 10px;
    margin: 50px auto; /* Centra el botón */
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    /* Reducir el tamaño del panel de filtros en pantallas pequeñas */
    .filter-panel {
        width: 250px;  /* Reducir el ancho */
        margin-right: 10px;  /* Reducir el margen */
        padding: 15px;  /* Reducir el padding */
        height: 60%;  /* Ajustar la altura automáticamente */
    }

    .filter-panel h2 {
        font-size: 1.5rem;  /* Reducir el tamaño de la fuente */
    }

    .filter-option {
        margin-bottom: 15px;  /* Reducir espacio entre las opciones */
    }

    /* Ajustar el tamaño del botón */
    .filter-button {
        width: 60%;  /* Hacer el botón más pequeño */
        padding: 6px;  /* Reducir padding */
        font-size: 0.9rem;  /* Reducir el tamaño de la fuente */
    }
}


/* Estilo para el catálogo de plantas */
.plant-catalog {
    flex: 1;
    margin-left: 30px;
}

.plant-catalog h1 {
    color:#39492d;
    font-size: 2.5rem;
    margin-bottom: 20px;

}

.plant-catalog p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.plant-catalog a{
    color: #39492d;
}

.plant-catalog a:hover{
    color: white; 
    text-decoration:none;
    background-color:#39492d;
    padding: 5px 15px;
    border-radius: 3px;
}

.plant-catalog img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    object-fit: cover;
}

.plant-catalog img:hover{
    transform: scale(1.1);

}

/* Estilo para las tarjetas de plantas */
.plant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


/* Formulario Adopción */
    /* Estilo general del formulario */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f7f7f7;
        min-height: 100vh;
    }

    .adoption-form {
        background-color: white;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        max-width: 600px;
    }

    .adoption-form h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
        color: #39492d;
    }

    .adoption-form p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .form-field {
        margin-bottom: 20px;
    }

    .form-field label {
        display: block;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .form-field input, .form-field select {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
    }

    .form-field input[type="submit"] {
        background-color: #597445;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    .form-field input[type="submit"]:hover {
        background-color: #1f4d1a;
    }

    .form-field textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
    }

    /*Descripción platas (Fichas)*/
     /* Detalles de la planta */
     .plant-detail-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        margin: 20px;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    /* Información de la planta */
    .plant-info {
        flex: 3; /* Se aumenta el espacio para la información */
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        margin-right: 20px; /* Espacio entre la información y la imagen */
    }

    .plant-info h1 {
        font-size: 2rem;
        color: #39492d; /* Verde */
        margin-bottom: 10px;
    }

    .plant-info p {
        font-size: 1rem;
        color: #333;
        line-height: 1.6;
    }

    /* Subtítulos con fondo verde y texto blanco */
    .plant-info strong {
        background-color: #c5cfbb ; /* Verde */
        color: #39492d;
        padding: 5px;
        border-radius: 2px;
        margin-right: 5px;
    }

    /* Estilos para las imágenes */
    .plant-image {
        flex: 2; /* Se reduce el espacio para la imagen */
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Galería de imágenes (slider) */
    .image-slider {
        width: 100%;
        max-width: 500px;
        position: relative;
        overflow: hidden;
    }

    .image-slider img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .image-slider img.active {
        display: block;
    }

    /* Estilos para los controles del slider */
    .slider-controls {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        transform: translateY(-50%);
    }

    .slider-controls button {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .slider-controls button:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Pagína de adopción*/
    .adoption-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 60px;
        background-color: #f4f4f4;
    }

    .adoption-card {
        width: 23%;
        background-color: white; 
        color: black;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
        margin: 10px; /* Espacio alrededor de cada tarjeta */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s ease;
    }

    .adoption-card:hover{
        transform: scale(1.1); 
    }
    
    .adoption-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .adoption-card h2{
        color:#39492d; 
    }
    
    .adoption-card p {
        font-size: 0.9em;
    }

    .adoption-card a{
        margin-top: 15px;
        text-decoration: none;
    }

    .adoption-card a:hover{
        text-decoration: underline;
        color: white; 
    }

    .adoption-card strong{
        background-color:#2d4932 ; 
        color: white;
        padding: 5px 30px;
        border-radius: 2px;
        margin-right: 5px;
    }

    /* Estilos para la barra de búsqueda */
    .search-container {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .search-input {
        width: 60%;
        padding: 10px 15px;
        font-size: 16px;
        border: 2px solid #597445; /* Color del borde en tono verde */
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .search-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #597445; /* Fondo verde */
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .search-button:hover {
        background-color: #496336; /* Color más oscuro al pasar el cursor */
    }

    .search-input::placeholder {
        color: #aaa;
        font-style: italic;
    }
