#editFormContainer{
    display: none;
}

html{
    width: 100vw;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body{
    background-color: rgb(244, 244, 244);
    width: 100vw;
}

h1{
    color: rgb(57, 73, 45);
    font-family: "DM Serif Display", serif;
}

h2{
    color: white;
    font-family: "DM Serif Display", serif;

}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 116, 69);
    margin: 0;
}

.logo, .divlogo{
    height: 100%;
}

.divlogo{
    background-color: white;
}

.botonsalir{
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-color: rgb(244, 244, 244);
    color: #1f4d1a;
    border-radius: 15px;
    font-size: x-large;
}

.optionedit{
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-color: rgb(244, 244, 244);
    color: #1f4d1a;
    border-radius: 15px;
    font-size: x-large;
}

.botonsalir:hover, .optionedit:hover{
    background-color: #1f4d1a;
    color: white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.plant-card{
    margin: 100px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(149, 183, 124);
}



#editFormContainer.visible{
    display: block;
    position: absolute;
    top: 200px;
    
    z-index: 1;
    width: 100%;

}

#editarverde{
    color: #1f4d1a;
}

/* Formulario Adopción */
    /* Estilo general del formulario */
    .form-container {
        width: 800px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f7f7f7;
        
    }

    .adoption-form {
        background-color: white;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 800px;
        
    }

    .adoption-form h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
        color: #39492d;
    }

    .adoption-form p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .form-field {
        margin-bottom: 20px;
    }

    .form-field label {
        display: block;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .form-field input, .form-field select {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
    }

    .form-field input[type="submit"] {
        background-color: #597445;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    .form-field input[type="submit"]:hover {
        background-color: #1f4d1a;
    }

    #decision{
        background-color: #597445;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    /* Estilos básicos para el modal */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    }
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        border-radius: 10px;
        text-align: center;
    }
    .modal-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .modal-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .modal-buttons button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }
    .btn-confirm {
        background-color: #e74c3c;
        color: #fff;
    }
    .btn-cancel {
        background-color: #95a5a6;
        color: #fff;
    }
    .btn-confirm:hover {
        background-color: #c0392b;
    }
    .btn-cancel:hover {
        background-color: #7f8c8d;
    }

    .modalestilo{
        display: block;
        position: absolute;
        background-color: red;
    }

  
